#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 0px;
  background: $secondary-color;
  font-weight: 400;
  color: $dark-blue-text;
  justify-content: center;
  // padding: 0rem 12rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  font-family: $fontTwo;
  position: relative;

  .vertical {
    position: absolute;
    width: 20rem;
    height: 5rem;
    transform: rotate(90deg);

    right: 0;
    bottom: 5rem;

    .buttonTwo {
      position: relative;
      display: flex;
      width: fit-content;
      height: fit-content;
      align-items: center;
      padding-right: 1rem;

      margin-left: 1.9rem;
      font-size: 1.3rem;
      font-family: $fontOne;
      font-weight: bold;
      text-transform: uppercase;
      color: $primary-color;
      cursor: pointer;

      // justify-content: center;

      &::before {
        position: absolute;
        content: '';
        border-style: solid;
        border-width: 3px 0 3px 5px;
        border-color: transparent transparent transparent $primary-color;

        justify-self: center;
        right: 0.5rem;
        margin-bottom: 0.05rem;
      }

      &::after {
        content: '';
        width: 0.7rem;
        margin-left: 0.5rem;
        height: 0.2rem;
        background-color: $primary-color;
        align-self: center;
        transition: all 0.3s ease;
        margin-bottom: 0.05rem;
      }

      &:hover::after {
        width: 6rem;
        margin-left: 0.1rem;
      }
    }
  }

  // If you want to set a background image on the hero section, uncomment these with yout custom image

  /* background: url("/src/assets/[your-image].png");
  background-position: center;
  background-size: cover; */

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  .bottom-links {
    position: relative;
    display: block;
    text-align: left;
    margin-top: 12rem;
    width: fit-content;
    justify-content: center;

    span {
      font-size: 1.4rem;
      // line-height: 1.2rem;
      color: $primary-color;
      font-family: $fontOne;
      border-bottom: 0.15rem solid $primary-color;
      padding: 0rem !important;
    }

    .divider {
      border-bottom: 0;
      margin: 0 1rem;
    }
  }

  .logo-container {
    min-height: 50rem;
    min-width: 55rem;
    position: relative;
    justify-content: center;
    align-items: center;

    .react-logo {
      position: absolute;
      width: 55rem;
      left: 0;
      top: 0;
    }

    .my-name {
      font-size: 32rem;
      line-height: 48rem;
      color: $white-color;
      font-weight: bold;
      display: block;
      font-family: $fontOne;
      text-shadow: 1rem 2rem 3rem rgba($color: $primary-color, $alpha: 0.7);
    }
  }

  .x-background {
    position: absolute;
    align-self: center;
    font-weight: bold;
    font-size: 60rem;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .background_circle {
    width: 50rem;
    height: 50rem;
    border-radius: 50rem;
    background-color: $white-color;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .hero-title {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;
    width: 49rem;
    text-transform: lowercase;
    align-self: center;
    line-height: 6.5rem;
    margin-top: 14rem;

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
    }
  }

  .subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2.25rem;
    text-align: left;
    margin-top: 2rem;
    text-transform: none;
    font-family: $fontTwo;
  }

  .button {
    height: 60px;
    width: 15rem;
    cursor: pointer;

    &:before {
      content: '';
      width: 10px;
      height: 0.2rem;
      background: $primary-color;
      position: absolute;
      top: 50%;
      margin-top: -1.5px;
      right: 21px;
      transition: all 0.3s ease;
    }

    &:hover:before {
      right: 10px;
      width: 30px;
    }

    &:after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      border-color: transparent transparent transparent $primary-color;
      position: absolute;
      top: 50%;
      margin-top: -5.5px;
      right: 20px;
      transition: all 0.3s ease;
    }

    &:hover:after {
      right: 40px;
      right: 10px;
    }
  }

  .hero-cta {
    display: flex;
    position: relative;
    align-items: center;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 1.2rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }

    .cta-text {
      margin-left: 1.9rem;
      font-size: 1.3rem;
      font-family: $fontOne;
      font-weight: bold;
      text-transform: uppercase;
      color: $primary-color;
    }

    .circle-button {
      width: 4.1rem;
      height: 4.1rem;
      border-radius: 4.1rem;
      background-color: $primary-color;
      opacity: 0.2;
      position: absolute;
    }
  }
}
